* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 300;
}

a {
  text-decoration: none;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  max-width: 1440px;
  margin: 0 auto;
}

/* HEADER ----------------------------------------- */
.underline-animation {
  /* display: inline-block; */
  position: relative;
  color: #000000;
}

.underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 0.5px;
  bottom: 0;
  left: 0;
  background-color: #000000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.header {
  background-color: rgba(181, 222, 255, 0.89);
  box-shadow: 0px 0px 5px -2px;
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.nav-link {
  position: relative;
  padding: 0 10px;
  font-size: 18px;
  color: black;
  text-decoration: none;
  transition: 0.3s;
  padding: 0 20px;
}

/* .nav-item a:hover {
  text-decoration: underline dotted;
} */

/* MAIN ------------------------------------------------- */
.main {
  background-color: rgb(250, 249, 249);
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 4em 2em;
}

.column {
  float: left;
  padding: 10px 5px 0;
}

.left {
  width: 35%;
  padding-right: 10px;
}

.right {
  width: 50%;
  margin: 0;
  background-color: transparent;  
}

.row::after {
  /* content: ""; */
  /* display: table;
  clear: both; */
}

.section {
  margin-bottom: 60px;
}

.section-color {
  background-color: rgba(181, 222, 255, 0.33);
  margin: 0;
}

.section-title {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: normal;
}

.border-title {
  border-bottom: 1px solid black;
}

.content-profile {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-self: center;
  margin: 0;
  order: 0;
}

.image-profile {
  align-self: center;
  width: 200px;
  height: 200px;
  margin: auto;
  border-radius: 100px;
  border: 10px solid rgba(181, 222, 255, 0.89);
}

.name-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  margin: 1em auto 2em;
}

.name-title h2 {
  margin: 0.3em;
}

.line {
  height: 1px;
  width: 100%;
  background: rgb(172, 172, 172);
}

.container-section-profile {
  padding: 1em 3em;
  /* border: 1px solid black; */
  box-shadow: 0px 0px 8px -2px;
  border-radius: 15px;
  background-color: #bde2ff52;
}

.section-contacts {
  flex: 1 3;
  order: -1;
}

.section-contacts a {
  color: black;
}

li {
  margin-bottom: 0.8em;
}

/* show more */
.show-more {
  cursor: pointer;
}
.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 1em 3em;
  box-shadow: 0px 0px 10px -3px;
  border-radius: 15px;
  perspective: 40em;
  /* text-align: center; */
  transition: transform 0.8s;
  transform-style: preserve-3d;
  background-color: #fff7d5;
}

.card-inner.is-flipper {
  transform: rotateY(180deg);
}

.card-front, 
.card-back {
  /* position: absolute; */
  /* width: 100%;
  height: 100%; */
  backface-visibility: hidden;
  /* background-color: #fff7d5; */
}

.card-back {
  display: none;
  transform: rotateY(180deg);
  /* position: absolute; */
}

/* FOOTER ------------------------------------------------- */

.footer {
  /* padding: 24px; */
  background-color: rgba(181, 222, 255, 0.89);
  box-shadow: 0px 0px 5px -2px;
}

.footer-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: 0;
}

.rss {
  width: 121px;
  height: 45px;
  background-image: url("./assets/rs_school_js.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

/* MEDIA ------------------------------------------------- */

@media (max-width: 768px) {
  .section {
    width: 100%;
  }
}

@media all and (min-width: 800px) {
  .section-profile {
    order: 1;
  }
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
